body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fff;
}

main {
    padding: 2rem 0;
}

main img {
    display: block;
    margin: 0 auto 1rem;
    max-width: 100%;
    width: 400px;
    height: 600px;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: brightness(0);
    }

    to {
        opacity: 1;
        filter: brightness(1);
    }
}

footer {
    text-align: center;
    padding: 1rem 0;
}