:root {
    --primary-color: #2c6bed;
    --secondary-colro: #1f2933;
    --background-color: #f0f4f8;
    --form-background: #ffffff;
    --text-color: #333333;
    --border-color: #cccccc;
    --accent-color: #2563eb;
    --accent-hover: #1e40af;
    --footer-background: #1f2933;
    --white-color: #ffffff;
}

header {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

form {
    background-color: var(--form-background);
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label,
legend {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

fieldset {
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

fieldset legend {
    margin-right: 10px;
    font-weight: bold;
}

fieldset:nth-of-type(2) {
    display: block;
    flex-wrap: unset;
    align-items: unset;
    font-size: 14px;
    padding: 10px 5px;
}

fieldset:nth-of-type(2) input[type="checkbox"] {
    margin-right: 5px;
}

fieldset:nth-of-type(2) label {
    margin-right: 15px;
    font-size: 12px;
    white-space: nowrap;
}


input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

label[for^="star"] {
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: var(--accent-color);
    color: var(--white-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto 0 auto;
}

input[type="submit"]:hover {
    background-color: var(--accent-hover);
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: var(--footer-background);
    color: var(--white-color);
    font-size: 14px;
}

.rating-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 19px;
}

@media (max-width: 600px) {

    fieldset:nth-of-type(2) input[type="checkbox"],
    fieldset:nth-of-type(2) label {
        font-size: 14px;
    }

    form {
        margin: 15px;
        padding: 15px;
    }

    fieldset .rating-option {
        padding: 0 10px;
    }

    form {
        margin: 10px;
        padding: 15px;
    }

    label,
    legend {
        font-size: 14px;
    }

    input[type="submit"] {
        width: 100%;
        margin-top: 15px;
    }
}